<div class="max-w-md mx-auto my-8 p-6 bg-white rounded-lg shadow-lg">
  <% if notice.present? %>
    <p id="notice" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded mb-4"><%= notice %></p>
  <% end %>

  <p class="mb-2">
    <strong class="text-gray-700">Title:</strong>
    <%= @book.title %>
  </p>

  <p class="mb-2">
    <strong class="text-gray-700">Author:</strong>
    <%= @book.author %>
  </p>

  <p class="mb-2">
    <strong class="text-gray-700">Year:</strong>
    <%= @book.year %>
  </p>

  <p class="mb-4">
    <strong class="text-gray-700">Quantity:</strong>
    <%= @book.quantity %>
  </p>

  <div class="flex">
    <%= link_to 'Edit', edit_book_path(@book), class: "mr-4 text-blue-500 hover:underline" %>
    <%= link_to 'Back', books_path, class: "text-gray-700 hover:underline" %>
  </div>
</div>
